{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    New hotel
{% endblock %}

{% block page_name %}
  Add New Hotel
{% endblock %}

{% block end %}
    <form class="container-fluid justify-content-end">
        <span class="navbar-text"> User: {{ user.username }}    </span>
    </form>
    <a href="{% url 'login' %}" class="btn btn-outline-secondary">LogOut</a>
{% endblock %}

{% block content %}
    <h1 class="mt-2"> Add Hotel </h1>
        <hr class="mt-0 mb-4" color="green">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <hr class="mt-0 mb-4" color="green">
        <a href="{% url 'homepage' %}"><button type="submit" class="btn btn-success">Add Hotel</button></a>
        <span>{{ error }}</span>
    </form>
{% endblock %}