{% extends 'base.html' %}

{% block title %}
CreateCoefficient
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
                 CreateCoefficient User - {{ user.username }}
        </a>
        <a href="{% url 'login' %}" class="btn btn-outline-secondary">LogOut</a>
</nav>

    <hr>
    <hr>
    <hr>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Create Coefficient for {{ hotel.hotel_name }}</span>
  </div>
</nav>

{% if coefficients %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Coefficient</th>
    </tr>
  </thead>
  <tbody>
  {% for coefficient in coefficients %}
    <tr>
      <td>{{ coefficient.start_date }}</td>
      <td>{{ coefficient.end_date }}</td>
      <td>{{ coefficient.coefficient }}</td>
        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Delete</a>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}



  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Add coefficient">
  </form>


{% endblock %}