{% extends 'base.html' %}

{% block title %}
CreateCoefficient
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <form class="container-fluid justify-content-start">
            <a class="navbar-brand" href=""> Coefficients of <em>{{ hotel.hotel_name }}</em></a>
        </form>


        <form class="container-fluid justify-content-center">

        </form>

        <form class="container-fluid justify-content-end">
            <span class="navbar-text"> User: {{ user.username }}    </span>
        </form>

        <a href="{% url 'login' %}" class="btn btn-outline-secondary">LogOut</a>

    </nav>

    <hr>
    <hr>
    <hr>


<div class="container">
  <div class="row">
    <div class="col">

      {% if coefficients %}
  <form action="" method="post">
    {% csrf_token %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"> Available Coefficients </span>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Coefficient</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for coefficient in coefficients %}
    <tr>
      <td>{{ coefficient.start_date }}</td>
      <td>{{ coefficient.end_date }}</td>
      <td>{{ coefficient.coefficient }}</td>
        <td><button name="id" type="submit" class="btn btn-danger" value="{{ coefficient.id }}">Delete</button></td>

    </tr>
    {% endfor %}
  </tbody>
</table>
  </form>

      {% endif %}
    </div>

    <div class="col">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Add New Coefficient </span>
            </div>
        </nav>

        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Add Coefficient">
        </form>
    </div>
  </div>
</div>

<hr>


{% endblock %}