{% extends 'base.html' %}

{% block title %}
CreateAmenity
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
                 CreateAmenity User - {{ user.username }}
        </a>
        <a href="{% url 'login' %}" class="btn btn-outline-secondary">LogOut</a>
</nav>

    <hr>
    <hr>
    <hr>

{% if amenities %}


<div class="px-4 py-1 my-5 text-center">
    <h1 class="display-6 fw-bold">Amenities in {{ hotel.hotel_name }}</h1>
</div>


 <div class="my-3 p-4 bg-body rounded shadow">
    <div class="d-flex text-muted pt-3">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Amenity name</th>
      <th scope="col">Amenity price</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for amenity in amenities %}
    <tr>
      <td contenteditable="true">{{ amenity.amenity_name }}</td>
      <td contenteditable="true">{{ amenity.amenity_price }}</td>
        <td><button class="btn btn-danger" type="submit" name="{{ amenity.id }}">Update</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    </div>

  </div>

{% endif %}

<div class="my-3 p-4 bg-body rounded shadow">
<div class="px-4 py-1 my-1 text-center">
    <h4 class="fw-bold">Create new amenity</h4>
    <hr>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li><h3 class="text-danger">{{ message }}</h3></li>
    {% endfor %}
</ul>
{% endif %}

    <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Add amenity">
  </form>
</div>
  </div>


{% endblock %}