{% extends 'base.html' %}

{% block title %}
Create Amenity
{% endblock %}

{% load crispy_forms_tags %}

{% block link_page_name %}
{% url 'hotel_detail' hotel.url %}
{% endblock %}

{% block page_name %}
 Amenities of <em>{{ hotel.hotel_name }}</em>
{% endblock %}

{% block end %}
    <form class="container-fluid justify-content-end">
        <span class="navbar-text"> User: {{ user.username }}    </span>
    </form>
    <a href="{% url 'login' %}" class="btn btn-outline-secondary">LogOut</a>
    {% endblock %}

{% block content %}

<div class="container">
  <div class="row">


      <div class="col">
          {% if not amenities %}
    <h4>
        Amenity doesn't exist
    </h4>
    {% endif %}
      {% if amenities %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"> Available Amenities</span>
  </div>
</nav>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Amenity name</th>
      <th scope="col">Amenity price</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for amenity in amenities %}
    <tr >
      <td>{{ amenity.amenity_name }}</td>
      <td>{{ amenity.amenity_price }}</td>
        <td><a href="{% url 'amenity_update' hotel.url amenity.amenity_name %}" class="btn btn-success">Details</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
    </div>

    <div class="col">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1"> Add New Amenity </span>
            </div>
        </nav>

        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success me-2" value="Add Amenity">

        </form>
    </div>
  </div>
</div>



<hr class="text-dark">


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li><h3 class="text-danger">{{ message }}</h3></li>
    {% endfor %}
</ul>
{% endif %}



{% endblock %}