{% extends 'base.html' %}

{% block title %}
HotelDetail
{% endblock %}

{% load crispy_forms_tags %}


{% block content %}

<div>{{ hotel.hotel_name }}</div>




<div>
    <form method="post">
        {% csrf_token %}
       <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>


<a href="{% url 'rooms' hotel.url %}" class="btn btn-info" >Rooms</a>
<a href="{% url 'amenities' hotel.url%}" class="btn btn-primary " >Amenities</a>
<a href="{% url 'coefficient' hotel.url%}" class="btn btn-info" >Coefficient</a>



{% endblock %}