{% extends 'base.html' %}

{% block title %}
HotelDetail
{% endblock %}

{% load crispy_forms_tags %}

{% block page_name %}
 <em>{{ hotel.hotel_name }}</em> Hotel Details
{% endblock %}

{% block buttons %}
    <a href="{% url 'rooms' hotel.url %}" class="btn btn-outline-light me-2">Rooms</a>
    <a href="{% url 'amenity' hotel.url%}" class="btn btn-outline-light me-2">Amenities</a>
    <a href="{% url 'add_room_type' hotel.url%}" class="btn btn-outline-light me-2">Room Types</a>
    <a href="{% url 'coefficient' hotel.url%}" class="btn btn-outline-light me-2" >Coefficients</a>
{% endblock %}

{% block end %}
    <form class="container-fluid justify-content-end">
         {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger me-3">Delete Hotel</button>
        <span class="navbar-text"> User: {{ user.username }}    </span>
    </form>
    <a href="{% url 'login' %}" class="btn btn-outline-secondary">LogOut</a>
{% endblock %}

{% block content %}

<div class="card text-center" style="width: 50rem;">
    <div class="card-bg-body rounded shadow text-center">
        <div class="text-center">
            <h2 class="card-title">{{ hotel.hotel_name }}</h2>
        </div>
        <div class="row align-items-start">
    <div class="col">
        <img src="{{ hotel.hotel_image.url }}" class="img-thumbnail" hspace="15" vspace="10">
    </div>
    <div class="col">
        <p class="card-text" >Email: {{ hotel.hotel_email }}</p>
        <p class="card-text">Site: {{ hotel.hotel_url }}</p>
        <p class="card-text">Long: {{ hotel.hotel_long }}, Lat: {{ hotel.hotel_lat }}</p>
        <p class="card-text">{{ hotel.hotel_description }}</p>
    </div>
        </div>
    </div>
</div>

{% endblock %}