{% extends 'base.html' %}

{% block title %}
Create New Room
{% endblock %}

{% load crispy_forms_tags %}

{% block page_name %}
<em>{{ hotel.hotel_name }}</em> Hotel Update Info
{% endblock %}

{% block end %}
    <form class="container-fluid justify-content-end">
        <span class="navbar-text"> User: {{ user.username }}    </span>
    </form>
    <a href="{% url 'login' %}" class="btn btn-outline-secondary">LogOut</a>
{% endblock %}

{% block content %}

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li><h3 class="text-danger">{{ message }}</h3></li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" class="ckeck">
  {% csrf_token %}

    <div class="mb-3">
        <label class="form-label"><h5>Название отеля</h5></label>
        <input type="text" class="form-control" name="name" placeholder="{{ hotel.hotel_name }}" value="{{ hotel.hotel_name }}">
    </div>
     <div class="mb-3">
        <label class="form-label"><h5>Долгота</h5></label>
        <input type="text" class="form-control" name="long" placeholder="{{ hotel.hotel_long }}" value="{{ hotel.hotel_long }}">
    </div>
     <div class="mb-3">
        <label class="form-label"><h5>Широта</h5></label>
        <input type="text" class="form-control" name="lat" placeholder="{{ hotel.hotel_lat }}" value="{{ hotel.hotel_lat }}">
    </div>
     <div class="mb-3">
        <label class="form-label"><h5>Электронная почта</h5></label>
        <input type="text" class="form-control" name="email" placeholder="{{ hotel.hotel_email }}" value="{{ hotel.hotel_email }}">
    </div>
     <div class="mb-3">
        <label class="form-label"><h5>Сайт</h5></label>
        <input type="text" class="form-control" name="url" placeholder="{{ hotel.hotel_url }}" value="{{ hotel.hotel_url }}">
    </div>
     <div class="mb-3">
        <label class="form-label"><h5>Описание</h5></label>
        <input type="text" class="form-control" name="description" placeholder="{{ hotel.hotel_description }}" value="{{ hotel.hotel_description }}">
    </div>


    <hr>


    <button type="submit" class="btn btn-success me-2">Update Info</button>

</form>

{% endblock %}